<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Terres en couleurs{% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" href="{{ preload('/vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ preload('/css/bootstrap.custom.css') }}">{% endblock %}
        <link rel="icon" href="{{ preload('/favicon.ico') }}" />
    </head>
    <body class="bg-fbsilver">
        {% block body %}
            <div class="bg-fbblue d-md-flex justify-content-center text-white pt-3">
                <h1 class="col-12 col-md-5 col-lg-5"><a class="text-white btn fs-2rem font-weight-bold" href="/" title="{{ block('title') }}" >{{ block('title') }}</a></h1>
                <div class="col-12 col-md-7 col-lg-5">{% include 'connexion.html.twig' %}</div>
            </div>
            <div class="d-md-flex justify-content-center">
                <nav class="m-3">
                    <a class="d-none d-md-block" href="/" title="{{ block('title') }}" ><img class="" src="/img/profil.jpg" alt="profil"/></a>
                    <div>{% include 'menu.html.twig' %}</div>
                </nav>
                {% block page %}<div class="card ml-3  ml-md-0 mr-3 mt-3">{% include 'accueil.html.twig' %}</div>{% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
